/* General styles for the footer */
footer {
  /* for stuck the footer in bottom we use position: fixed; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(3, 60, 88);
  color: rgb(251, 254, 254);
  padding: 20px 0;
  text-align: center;
}

/* Your existing styles for the footer content */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: rgb(246, 252, 253);
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Specific styles for the links */
.privacy-link {
  color: rgb(56, 221, 56);
}

.terms-link {
  color: #f90;
}

.disclaimer-link {
  color: #f66;
}
